
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #fff;
}

.border{
    border-bottom: 1px solid #323544;
    height: 400px;
    background-color: #323544;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #fff;
}

.nav{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    
}



.nav{
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 40px;
    padding: 15px;
    margin-right: 100px;
    color: #fff;
    
   
    

    
    
    
    
}

.logo{
    position: absolute;
    left: 200px;
    
}

.main-header{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-right: 900px;
    margin-top: 80px;

}

button
{
    width: 80 px ;
    color: #fff;
    background-color: rgb(60, 153, 240);
    border-radius: 10px;
    height: 30px;
}

.img{
    position: absolute;
    top: 100px;
    right: 500px;
    border: 1px solid rgba(70, 63, 63, 0.568);
    height: 250px;
    width: 400px;
    background-color: rgba(70, 63, 63, 0.568);
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    color: black;
}


.main{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    
    
    
}

.border1{
    border: 1px solid blue;
    height: 150px;
    width: 150px;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 20%;
    

    
}

.border2{
    border: 1px solid blue;
    height: 150px;
    width: 150px;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 20%;
}
.border3 {
    border: 1px solid blue;
    height: 150px;
    width: 150px;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 20%;
}

.border4{
    border: 1px solid blue;
    height: 150px;
    width: 150px;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 20%;
}



#text1{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 200px;
}
#text2{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 200px;
}
#text3{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 200px;
}
#text4{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 200px;
}